@charset "utf-8";
/* CSS Document */

/*NAV BEGIN*/
.navbar{
	background-color: #FFFFFF;
}

.nav-link a{
	color: #264c59;
}

.navbar-toggler {
	border-color: #264c59;
}
.navbar-toggler-icon{
	background-color: #264c59;
	position: relative;
	height: 4px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}
.navbar-brand{
	max-width: 60%;
}
.navbar-brand img{
	width: 60%;
}
/*NAV END*/

#hero-shot .container-fluid {
	position:relative;
	text-align: center;
	}
.hero-shot{
	max-width: 85%;
	max-height: 75%;
}

.text-center{
	margin-bottom: 3%;
}

img {
	float:right;
	max-width: 50%;
}
p {
	text-align: justify;
}

.btn-primary{
	border-color:#fcd672 ;
	padding: 12px 65px;
	background-color:#fcd672;
	margin-top: 5%;
	margin-bottom: 15%;
}
.btn-primary:hover{
	background-color:#264C59;
	border-color: #264C59;
	color: #ffffff;
}
/*FOOTER BEGIN*/


footer{
	margin-top: 5%;
	background-color: #264c59
}

.list-unstyled a{
	color: #ffffff
}

.foot{
	margin-bottom: 0%;
}
/*FOOTER END*/
@media (max-width: 768px){
	.img{
		max-width:60%;
	}
}
